<div class="card">
    <div class="face front center-flex-box">
        <div class="banner banner-top">
            <h1 class="banner-text">WEB DEVELOPMENT CONSULTING</h1>
        </div>
        <div class="branding">
            <span class="logo">
                <%- include("shape"); %>
            </span>
            <span class="main-text">Newpoint Designs</span>
        </div>
    </div>
    <div class="face back">
        <div class="banner banner-top">
            <p class="banner-text">WEB DEVELOPMENT CONSULTING</p>
        </div>
        <div class="msg">
            <div class="card-text">
                <p class="name">Jay Fidlow</p>
                <p class="location">nyc</p>
                <p><a href="mailto:contact@newpointdesigns.com">email</a></p>
                <p><a href="https://github.com/jayfid">github</a></p>
            </div>
        </div>
    </div>
</div>