<meta charset="utf-8" />
<meta
    name="description"
    content="Newpoint Designs - Web Development Consulting"
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Newpoint Designs | Web Development</title>
<link rel="apple-touch-icon" href="apple-touch-icon.png" />
<link rel="stylesheet" href="main.css" />
<%- include("typekit"); %>
