html {
  font-family: sans-serif; /* 1 */ /* 2 */
  text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

a {
  background-color: transparent; /* 1 */
  text-decoration-skip: objects; /* 2 */
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}
